<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    <table>
        <tr>
            <th>Usuário</th>
            <th>Senha</th>
        </tr>
        {{{users}}}
    </table>
</body>
</html>